html
  head
    title='Counter!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="styles/style.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

  body.container
    h3 Como usar:

    h4 substitua o ":name" pelo seu nome

    h5 SVG address
    code https://viewscount.vercel.app/get/@:name

    h5 Img tag
    code &lt;img src="https://viewscount.vercel.app/get/@:name" alt=":name" /&gt;

    h5 Markdown
    code ![:name](https://viewscount.vercel.app/get/@:name)

    h3 eg:
        div.image-size
            <img src="https://viewscount.vercel.app/get/@repo" alt="Moe Count!" />
    
    h3 baseado em: 
        a(href="https://count.getloli.com/") https://count.getloli.com

    a.link(href="https://github.com/Gu-Parlandim/visitsCount", target="_blank", rel="noopener noreferrer") 
        ="github"
        div.github-icon
            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png",  alt="github incon")