html
  head
    title='Counter!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='./favicon.png')
    link(rel="stylesheet", href="./styles/main.css")

  body.container
    h3 How to use:

    h5 SVG address
    code https://count.getloli.com/get/@:name

    h5 Img tag
    code &lt;img src="https://count.getloli.com/get/@:name" alt=":name" />

    h5 Markdown
    code ![:name](https://count.getloli.com/get/@:name)

    h3 eg:
      <img src="http://localhost:3000/get/@:test" alt="Moe Count!" />
    
    h3 All credits: 
        a(href="https://count.getloli.com/") https://count.getloli.com