@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100%;
    width: 100%;
}

.image-size {
    height: 30px;
}


.github-icon {
    width: 20px;
    height: 20px;
}

.link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    color: #000;
}